# Build results
bin/
obj/

# Visual Studio Code settings
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# NuGet packages
*.nupkg
packages/
*.snupkg

# Backup & temporary files
*.bak
*.tmp
*.temp

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Publish outputs
publish/

# Resharper & Rider
_ReSharper*/
*.DotSettings.user

# Other IDE caches
.idea/
